/*body{
	background-color: red;
}*/
/*making images responsive for different screens*/
html{
	scroll-behaviour:smooth;
}
.d-none {
    display: block;
}
#Products .images{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
#Products .stylepic { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
    width: 55vh;
}
